.about {
    background: var(--white);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2.5rem;

}

.about {

    /* background: var(--primary2); */
    & .section-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;

        padding-top: 3.5rem;
    }

    & .section-tag {
        color: var(--button1);
        padding: 1.3rem;
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    & .section-title {
        font-family: "Playfair display", serif;
        font-size: 4.5rem;
        font-weight: 200;
        letter-spacing: 1.2px;
        text-align: center;
    }

    & .section-line {
        height: 2px;
        background: var(--button1);
        width: 10%;
        margin: 2rem;
    }
}

.about-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    padding: 2rem;
    width: 70%;

    /* border: 2px solid red; */
    gap: 2rem;

    color: var(--text2)
}

.about-text {
    width: 100%;
    font-size: 1.5rem;
    /* border: 2px solid red; */
    line-height: 2;
    letter-spacing: 1.2px;

    & p strong {
        color: var(--text3);
    }
}

.about-text p {
    line-height: 1.6;
}

.about-certs {
    letter-spacing: 1px;
    display: flex;
    /* align-items: center; */
    gap: 1.2rem;

    /* border: 2px solid red; */

    padding: 2rem;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.cert-title {
    color: var(--text3);
    padding-bottom: 0.5rem;
    font-weight: 500;
}

.cert-card {
    border: 0.05px solid #b6ae98;
    border-left: 3px solid var(--button1);
    /*font-size: 1.3rem;
    */
    font-size: 1.5rem;
    padding: 1.2rem;
    border-radius: 4px;
    line-height: 1.3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.cert-card {
    padding: 1.2rem;
}

@media(max-width:990px) {
    .about-grid {
        width: 100%;
        flex-wrap: wrap;
    }

    .about-certs {
        padding: 0;
    }
}